[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pylint = "*"
pylint-django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-filter = "*"
django-extensions = "*"
ipython = "*"
django-tables2 = "*"

[requires]
python_version = "3.7"
