{% load django_tables2 %}
{% load i18n %}
{% block table-wrapper %}
<div class="table-container">
    {% block table %}
        <table {% render_attrs table.attrs %}>
            {% block table.thead %}
            {% if table.show_header %}
                <thead {{ table.attrs.thead.as_html }}>
                    <tr>
                    {% for column in table.columns %}
                        <th {{ column.attrs.th.as_html }}>
                            {% if column.orderable %}
                                <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                            {% else %}
                                {{ column.header }}
                            {% endif %}
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
            {% endif %}
            {% endblock table.thead %}
            {% block table.tbody %}
                <tbody {{ table.attrs.tbody.as_html }}>
                {% for row in table.paginated_rows %}
                    {% block table.tbody.row %}
                    <tr {{ row.attrs.as_html }}>
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% endblock table.tbody.row %}
                {% empty %}
                    {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                    <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                    {% endblock table.tbody.empty_text %}
                    {% endif %}
                {% endfor %}
                </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
            {% if table.has_footer %}
            <tfoot {{ table.attrs.tfoot.as_html }}>
                <tr>
                {% for column in table.columns %}
                    <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                {% endfor %}
                </tr>
            </tfoot>
            {% endif %}
            {% endblock table.tfoot %}
        </table>
    {% endblock table %}

    {% block pagination %}
    {% if table.page and table.paginator.num_pages > 1 %}
    <ul class="pagination">
        {% if table.page.has_previous %}
            {% block pagination.previous %}
                <li  class="previous page-item">
                    <a class="page-link" href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" aria-label="Previous">
                        <!-- {% trans 'previous' %} -->
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endblock pagination.previous %}
        {% endif %}
        {% if table.page.has_previous or table.page.has_next %}
        {% block pagination.range %}
            {% for p in table.page|table_page_range:table.paginator %}
                <li {% if p == table.page.number %}class="page-item active"{% endif %}>
                    {% if p == '...' %}
                        <a class="page-link" href="#">{{ p }}</a>
                    {% else %}
                        <a class="page-link" href="{% querystring table.prefixed_page_field=p %}">
                            {{ p }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        {% endblock pagination.range %}
        {% endif %}
        {% if table.page.has_next %}
            {% block pagination.next %}
                <li class="next page-item">
                    <a class="page-link"  href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" aria-label="Next">
                        <!-- {% trans 'next' %} -->
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endblock pagination.next %}
        {% endif %}
    </ul>
    {% endif %}
    <div id="form-pages" class=mb-2>
        <label for="select_per_page">Per Page:</label>
        <select id="select_per_page" onchange="perPageChange($(this).val())" class="form-control-sm" style="width: 60px;">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="25">25</option>
            <option value="100">100</option>
        </select>
        <input type="number" id="go_to_page_number" class="form-control-sm" style="width: 90px;" placeholder="page nr">
        <button onclick="goToPage()" class="btn btn-sm btn-primary mb-1">Go To Page</button>
        {% endblock pagination %}
    </div>
</div>
{% endblock table-wrapper %}
<script>
    function perPageChange(per_page)
    {
        /* per_page in querystring : replace the value in the current url */
        if (location.href.indexOf('per_page=') > 0)
            url = location.href.replace(/(per_page=)[^\&]+/, '$1' + per_page)
        else
        {
        /* per_page not in querystring */
            /* is there a parameter in querystring */
            if (location.href.indexOf('?') > 0)
                addStr = '&'
            else
                addStr = '?'
            addStr += 'per_page=' + per_page
            url = location.href + addStr
        }
        /* reload the page */
        location.href = url;
    }

    function goToPage()
    {
        page=$('#go_to_page_number').val();
        /* per_page in querystring : replace the value in the current url */
        if (location.href.indexOf('page=') > 0)
            url = location.href.replace(/(page=)[^\&]+/, '$1' + page)
        else
        {
        /* per_page not in querystring */
            /* is there a parameter in querystring */
            if (location.href.indexOf('?') > 0)
                addStr = '&'
            else
                addStr = '?'
            addStr += 'page=' + page
            url = location.href + addStr
        }
        /* reload the page */
        location.href = url;
    }

</script>
