{% spaceless %}
{% for widget in widget.subwidgets %}

<div class="input-group date " id="group_{{widget.name}}">
    <input
        {% include "django/forms/widgets/attrs.html" %}
        type="text"
        name="{{ widget.name }}"
        class="form-control datetimepicker-input"
        data-toggle="datetimepicker"
        data-target="#id_{{ widget.name}}"
        placeholder="
        {% if widget.name == 'time_0' %}
        From                
        {% else %}
        To
        {% endif %}
        ">
</div>

{% endfor %}
{% endspaceless %}

