#assigned_tags_group.form-group  {
    width: 40%;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
  }

.flex-container > .table {
width: 11%;
overflow: auto;
}

.flex-container > .chart {
width: 89%;
overflow: auto;
}