$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);


#group_time_0, #group_time_1 {
    width: 50%;  
    float: left;
}

#time_group {
    margin-right: ($spacer * .5) !important ;
}

#group_time_0 {
    padding-right: ($spacer * .25) !important;
}
#group_time_1{
    padding-left: ($spacer * .25) !important;
} 

#id_assigned_tags {
width: 35%;  
}

#id_ip {
    width: 10%;  
}

span.select2-selection__rendered {
    line-height: 32px !important;
}
.select2-container .select2-selection--single 
 {
    height: 36px !important;
}

.select2-container {
    height: auto !important;    
}


span.select2-container {
    margin-right: ($spacer * .5) !important;
    margin-bottom: ($spacer * .5) !important;
    display:inline-block;
}

.select2-selection__arrow b{
    display:none !important;
}
