#assigned_tags_group.form-group {
    width: 40%;
}

#visitor_ip_group.form-group  {
    width: 30%;
}

#server_group.form-group  {
    width: 20%;
}

#header_group.form-group  {
    width: 20%;
}

input#id_header_1 {
    width: 100%;
    margin-top: .5em;;
}