{% extends "base.html" %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block content %}
<h2>Activity</h2>
<div id="action">
  <form method="get" id="myForm"  class="form-inline" >
    {% load widget_tweaks %}
    {% for field in form %}
      {{ field.errors }}
      {{ field|add_label_class:"sr-only" }}
      {% if field.name == tag_field %}
        {{ field}}
      {% else %}
      <div class="form-group mr-2 mb-2" id="time_group">
        {{ field }}
      </div>        
      {% endif %}
    {% endfor %}
    <button class="btn btn-primary mb-2" type="submit">Submit</button>
  </form>
</div>
<div class="result">
  <canvas id="myChart" 
          url-endpoint-chart="{% url 'transaction-list' %}" 
          request-query="{{ request.GET.urlencode }}"
          tag-field="{{ tag_field }}"
          transactions="{% url 'transactions' %}">
  </canvas>
</div>
{% endblock content %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{{ form.media }}
<script src="/static/js/select.js"></script>
<script src="/static/js/chart.js"></script>

{% endblock js %} 