{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-­fit=no">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    {% block css %}
    {% endblock css %}
    <title>HPMS</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-­light">
        <a class="navbar-brand" href="/">HPMS</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse"
          id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li
              {% url 'visitors' as visitor %}
              class="nav-item {% if request.path == visitor %} active {% endif %}">
                <a id="visitor-button" class="nav-link" href="{{ visitor }}">Visitors</a>
            </li>
            <li
              {% url 'transactions' as transactions %}
              class="nav-item {% if request.path == transactions %} active {% endif %}">
                <a id="transactions-button" class="nav-link" href="{{ transactions }}">Transactions</a>
            </li>
            <li
              {% url 'activity' as activity %}
              class="nav-item {% if request.path == activity %} active {% endif %}">
                <a id="activity-button" class="nav-link" href="{{ activity }}" >Activity</a>
            </li>
            <li
              {% url 'search' as search %}
              class="nav-item {% if request.path == search %} active {% endif %}">
                <a id="search-button" class="nav-link" href="{{ search }}" >Search</a>
            </li>
            <li
              {% url 'all_notes' as all_notes %}
              class="nav-item {% if request.path == all_notes %} active {% endif %}">
                <a id="all_notes-button" class="nav-link" href="{{ all_notes }}" >All notes</a>
            </li>
            <li
              {% url 'tags' as tags %}
              class="nav-item {% if request.path == tags %} active {% endif %}">
                <a id="tags-button" class="nav-link" href="{{ tags }}" >Tags</a>
            </li>
            {% if request.user.is_superuser %}
            <li
              {% url 'admin:index' as admin %}
              class="nav-item">
                <a id="admin-button" class="btn btn-info btn-sm mt-1 ml-1" href="{{ admin }}" >Admin</a>
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                <li 
                {% url 'logout' as logout %}
                class="nav-item">
                    <a id="logout-button" class="btn btn-primary btn-sm mt-1 ml-1" href="{{ logout }}" >Logout</a>
                </li>
              {% endif %}
        </ul>
        </div>
      </nav>
    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
   {% block js %}
    {% endblock js %}
  </body>
</html>