<html>
    <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="Robots" content="noindex" />
    <meta http-equiv="Content-Language" content="pl" />
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta name="Author" content="" />
    <meta http-equiv="Reply-to" content="" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>.:: HPMS ::.</title>
    </head>
    
    <body id="main">
    
    
    <br/><br/><br/>
    
    <p><a href="http://192.168.143.189/hpms">hpms</a></p>
    <p><a href="http://192.168.143.189/hpms2">hpms2</a></p>
    <p><a href="http://localhost:8000/hpms3">hpms3</a></p>
    
    <br/><br/>
    
    <br/><br/><br/>
    
    </body>
    
    </html>