{% extends "base.html" %}
{% block content %}
<main class="login-form" style="width: 90%;" >
  <div class="cotainer mt-4">
      <div class="row justify-content-center">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header">Login</div>
                  <div class="card-body">
                    <form action="" method="POST">
                      {% csrf_token %}
                      {% load widget_tweaks %}
                      {{ form.non_field_errors }}
                        <div class="form-group row">
                          {{ form.username|add_label_class:"col-md-4 col-form-label text-md-right" }}
                          <div class="col-6">
                                <input 
                                  style="width:300px"
                                  type="text"
                                  class="form-control {% if form.username.errors %}is-­invalid{% endif %}"
                                  id="id_username"
                                  name="username"
                                  placeholder="Your username"
                                  value="{{ form.username.value|default:"" }}">
                              {% if form.username.errors %}
                                  <div class="invalid-feedback">  
                                      {{ form.username.errors }}
                                  </div>
                              {% endif %}
                            </div>
                        </div>
                        <div class="form-group row">
                          {{ form.password|add_label_class:"col-md-4 col-form-label text-md-right" }}
                          <div class="col-6">
                            <input
                              style="width:300px"
                              type="password"
                              class="form-control{% if form.password.errors %}is-­invalid{% endif %}"
                              id="id_password"
                              name="password"
                              value="{{ form.password.value|default:"" }}">
                            {% if form.password.errors %}
                              <div class="invalid-feedback">
                                {{ form.password.errors }}
                              </div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                            <button id="login-button" type="submit" class="btn btn-primary">
                                Login
                            </button> 
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
{% endblock content %}