{% extends "base.html" %}
{% block content %}
<main class="tags-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Tags Form</div>
                    <div class="card-body">
                      <form action="" method="POST">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% load widget_tweaks %}
                        {% block form_errors %}
                          {% include "include/form_errors.html" %}
                        {% endblock form_errors %}
                        {% for field in form %}
                          <div class="form-group row">
                            {{ field|add_label_class:"col-md-4 col-form-label text-md-right"}}
                              <div class="col-6">
                                {{ field|add_class:"form-control" }}
                              </div>
                          </div>
                        {% endfor %}
                        {% for form in formset %}
                          {% for field in form.visible_fields %}
                            <div class="form-group row">
                              {{ field|add_label_class:"col-md-4 col-form-label text-md-right"}}
                                <div class="col-6">
                                  {{ field|add_class:"form-control" }}
                                  {% for error in field.errors %}
                                    <div class="alert alert-primary mb-2 mr-2" role="alert">
                                        <strong>{{ field.name}}{{ error|escape }}</strong>
                                    </div>
                                  {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-primary mb-2 mr-2" role="alert">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                          {% endfor %}
                          {% for error in form.non_field_errors %}
                            <div class="alert alert-primary mb-2 mr-2" role="alert">
                                <strong>{{ error|escape }}</strong>
                            </div>
                          {% endfor %}
                          {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                          {% endfor %}
                        {% endfor %}
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
{% endblock content %}