{% extends "base.html" %}
{% load render_table from django_tables2  %}
{% load static %} 
{% block content %}
  <h2>Tags</h2>
      <form method="post">
        <div class="action">
          <div class="form-row align-items-center">
            {% load widget_tweaks %}
            {% csrf_token %}
            {% for field in form %}
              <div class="col-auto my-1">
                {{ field.errors }}
                {{ field|add_label_class:"sr-only" }}
                {{ field|add_class:"form-control form-control-sm mb-2" }}
              </div>
            {% endfor %}
              <div class="col-auto mb-2">
                <button type="submit" class="btn btn-primary btn-sm">Go</button>
              </div>
              <div class="col-auto mb-2">
                <a class="btn btn-secondary btn-sm" href="{% url 'tags_add' %}" role="button">Add tag</a>
              </div>
          </div>
        </div>
        <div class="result">
          {% render_table table "tables/tags_table.html"  %}
        </div>
      </form>
{% endblock content %}
{% block js %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
{% endblock js %}