{% extends "base.html" %}
{% load render_table from django_tables2  %}
{% load static %} 
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="{% static 'css/select.css' %}">
<link rel="stylesheet" href="{% static 'css/activity.css' %}">
<style>
  .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
</style>
{% endblock css %}
{% block content %}
  <h2>Tags</h2>
      <form method="post">
        <div class="action">
          <div class="form-row align-items-center">
            {% load widget_tweaks %}
            {% csrf_token %}
            {% block errors %}
            {% include "include/form_errors.html" %}
            {% endblock errors %}
            {% for field in form %}
              <div class="col-auto my-1">
                {{ field|add_label_class:"sr-only" }}
                {{ field|add_class:"form-control mb-2" }}
              </div>
            {% endfor %}
              <div class="col-auto mb-2">
                <button type="submit" class="btn btn-primary">Go</button>
              </div>
              <div class="col-auto mb-2">
                <a class="btn btn-secondary" href="{% url 'tags_add' %}" role="button">Add tag</a>
              </div>
          </div>
        </div>
        <div class="result">
          {% render_table table "tables/tags_table.html"  %}
        </div>
      </form>
{% endblock content %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
{{ form.media }}
<script src="/static/js/select.js"></script>
<script src="/static/js/autocomplete.js"></script>

{% endblock js %}