{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %} 
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="{% static 'css/select.css' %}">
<link rel="stylesheet" href="{% static 'css/transactions.css' %}">
{% endblock css %}
{% block content %}
<h2>Transactions</h2>
<div class="action">
  <form method="get" id="myForm" class="form-inline">
    {% load widget_tweaks %}
    {% block errors %}
      {% include "include/form_errors.html" %}
    {% endblock errors %}

    {% for field in form %}
      <div class="form-group mb-2 mr-2" id="{{field.name}}_group">
          {{ field|add_class:"form-control" }}
      </div>
    {% endfor %}

    <button class="btn btn-primary btn mb-2 mr-2" type="submit">Submit</button>
    <a class="btn btn-primary btn mb-2" href="{% url 'transactions' %}">Reset</a>
  </form>
</div>
<div class="result">
  {% render_table table "tables/table.html"  %}
</div>
{% endblock content %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="/static/js/select.js"></script>
<script src="/static/js/select-api.js"></script>
<script src="/static/js/datetimepicker.js"></script>
{% endblock js %}